In [1]:
import os
import glob
import numpy as np
import pandas as pd
from tqdm import tqdm

In [2]:
IMG_PATH = "./train_png/"

In [3]:
img_numbers = pd.DataFrame(columns=['patient_id', 'series_id', 'img_number'])

for path in tqdm(sorted(glob.glob(IMG_PATH + "*.png"))):

    row_list = []
    file = path.split('/')[-1]
    patient_id = file.split('_')[0]
    series_id  = file.split('_')[1]
    img_number = (file.split('_')[2]).split('.')[0]
    row_list += [patient_id, series_id, img_number]
    row = pd.DataFrame(row_list, index=['patient_id', 'series_id', 'img_number']).T
    img_numbers = pd.concat([img_numbers, row])

100%|██████████| 338519/338519 [31:53<00:00, 176.96it/s]

In [19]:
img_numbers.info()

<class 'pandas.core.frame.DataFrame'>
Index: 338519 entries, 0 to 0
Data columns (total 3 columns):
 #   Column      Non-Null Count   Dtype
---  ------      --------------   -----
 0   patient_id  338519 non-null  int64
 1   series_id   338519 non-null  int64
 2   img_number  338519 non-null  int64
dtypes: int64(3)
memory usage: 10.3 MB

In [ ]:
img_level_df = pd.read_csv("./rsna2023atd_files/image_level_labels.csv")
img_level_df = img_level_df.drop("instance_number", axis=1)
img_level_df = img_level_df.drop_duplicates()

img_level_df.head(200)

In [43]:
p_s_im_ij = img_numbers.merge(img_level_df, on=['patient_id', 'series_id'], how='right')
p_s_im_ij
pd.set_option('display.max_rows', 500)

p_s_im_ij = p_s_im_ij.dropna()
p_s_im_ij

       patient_id  series_id  img_number           injury_name
1           10004      51033         0.0  Active_Extravasation
2           10004      51033         1.0  Active_Extravasation
3           10004      51033        10.0  Active_Extravasation
4           10004      51033       100.0  Active_Extravasation
5           10004      51033       101.0  Active_Extravasation
...           ...        ...         ...                   ...
26737        9632       3750         9.0  Active_Extravasation
26738        9632       3750        90.0  Active_Extravasation
26739        9632       3750        91.0  Active_Extravasation
26740        9632       3750        92.0  Active_Extravasation
26741        9632       3750        93.0  Active_Extravasation

[26621 rows x 4 columns]

In [47]:
train_imgnum_df = pd.read_csv("./rsna2023atd_files/train.csv")
train_imgnum_df = train_imgnum_df.merge(p_s_im_ij, on=['patient_id'], how='right')